name: CI

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # At 04:44 on Monday, see https://crontab.guru/
    - cron: "44 4 * * 1"

jobs:
  pre-commit:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: pre-commit/action@v3.0.1
  python_test:
    name: Python tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
        zarr: ["==2.18.7", ">=3.1.0"]
        zarr-format: [2, 3]
        exclude:
          - zarr: "==2.18.7"
            zarr-format: 3
    steps:
      - uses: actions/checkout@v4
      - name: Set up Miniconda with Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,bioconda
      - name: Install dependencies
        run: |
          conda install bcftools
          python -m pip install --upgrade pip
          python -m pip install '.[dev]'
      - name: Install zarr${{ matrix.zarr }}
        run: |
          python -m pip install 'zarr${{ matrix.zarr }}'
      - name: Run tests
        run: |
          pytest
        env:
          BIO2ZARR_ZARR_FORMAT: ${{ matrix.zarr-format }}
